html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#time {
    left: 400px;
    top: 300px;
}

#view {
    left: 600px;
    top: 300px;
}

#time_icon {
    left: 50px;
    top: 10px;
}

#view_icon {
    left: 10px;
    top: 10px;
}