html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.icon_box {
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-width: 100vw;
}