.DS_Store
target/
local-race-build.properties
local-build.sbt
.idea/
.vscode/
tmp/
_book/
**/local.conf
node_modules/
doc/reports/
**/.gitignore
**/.race
.classpath
.project
.settings/
.metadata/
*.temp
*.swp
*.fossil*
.fslckout
.cache-main
.cache-tests
bin/
conf
*.crypt
.bloop
.metals
**/metals.sbt
*.code-workspace
.bsp
