.DS_Store
target/
local-race-build.properties
local-build.sbt
.idea/
tmp/
_book/
**/local.conf
node_modules/
doc/reports/
**/.race
.classpath
.project
.settings/
.metadata/
*.temp
*.swp
*.fossil*
.fslckout
.cache-main
.cache-tests
bin/
conf
*.crypt
keystore
race.ks

