/**
  CSS trickery for scrollable tables with sticky column/row th's and highlighting of rows/columns
  when hovering with the mouse over corresponding th nodes

  Note that relative cell length units have to be 'rem' since we use different fonts for
  th, th.dtg and td

  Note this does require some Javascript to set/remove respective class attributes of highlighted cells.
  *:hover::before/after does not help if the div height is not constant and known since it would change
  scrollbar thumb lengths
**/

div#scrollContainer {
--max-lines: 15;
--cell-height: 1.4rem;
--cell-padding: 0.2rem;
--cell-width: 7rem;
--scrollbar-width: 0.5rem;

--div-width: 100vw;
--div-height: calc(var(--max-lines)*var(--cell-height));

  box-sizing: border-box;
  max-width: var(--div-width);
  max-height: var(--div-height);
  padding-right: 0.9rem;  /* to account for scroll bar width - scrollbar is only inside div for firefox and safari */
  margin: 0;
  position: relative;
  overflow: auto;
  border: 1px solid #404040;
  display: inline-block; /* this does not properly limit max-width to browser viewport when browser is resized */
}

div.chrome { /* chrome has scrollbar outside div */
  padding-right: 0;
}

::-webkit-scrollbar-track {
  width: calc(var(--scrollbar-width) + 2px);
  height: calc(var(--scrollbar-width) + 2px);
  background-color: rgba(255,255,255,0.2);  /* does not work */
}
::-webkit-scrollbar-thumb {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  border-radius: 3px;
  background-color: rgba(0,0,0,0.2);
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

table {
--th-background: #eaeaea;
--th-color: black;
--hover-color: rgba(0,200,0, 0.2);

  position: relative;
  border-collapse: separate;
  border-spacing: 0px;
  padding: 0;
}

td, th {
  padding: var(--cell-padding);
  min-width:  var(--cell-width);
  max-width:  var(--cell-width);
  height:  var(--cell-height);
  text-align: right;
  color: #000;
  background-clip: padding-box;
}


td {
  font-family: monospace;
  position: relative;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  cursor: cell;
  color: var(--th-color);
  background-color: var(--th-background);
  background-clip: padding-box;
  border-bottom: 0px none;
  border-right: 1px solid lightgray;
  z-index: 3;
}

thead th.dtg {
  height: 0.8rem;
  color: blue;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: calc(var(--cell-height) + 2 * var(--cell-padding));  /* relative to scrolled container (div) */
  font-family: monospace;
  font-size: small;
  font-weight: normal;
  border-bottom: 1px solid black;
}

.selected {
  background-color: var(--hover-color);
  cursor: cell;
}

tr.header {
  background-color: var(--th-background);
}

div.toolbar {
  min-width: 30rem;
  width: 100%;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  box-sizing: border-box;
  background-clip: border-box;
  background-color: #eaeaea;
  position: relative;
  display: inline-block;
  border: 1px solid #404040;
}

span.infoblock {
  margin-left: 2rem;
  display: inline-block;
  float: right;
  text-align: right;
  color: green;
  /* font-size: small; */
}

label {
  display: inline-block;
  width: 4rem;
  text-align: right;
}

input#lines {
  width: 2.5rem;
}

input.field {
  text-align: right;
  background-color: rgb(255,255,225);
  width:  calc(var(--cell-width) - 0.4rem);
  border: 1px solid lightgray;
}

input.field.focused {
  background-color: rgb(255,255,180);
  border: 1px solid red;
}

input.field.modified {
  color: red;
}

input.field.modified.conflict {
  background-color: rgb(255,180,180);
}

input.field.reported {
  color: green;
}

.button:hover {
  background-color: rgba(0,0,255,0.1);
}

.button:active {
  background-color: rgba(0,0,255,0.3);
  /* box-shadow: 3px 3px #404040; */
  /* transform: translate(2px,2px); */
}

td.editable {
  color: blue;
  padding: 0.2rem;
}

thead th:first-child {
  left: 0;
  z-index: 4;
  min-width: 0;
  width: auto;
  border-right: 1px solid black;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  min-width: 0;
  width: auto;
  white-space: nowrap;
  text-align: left;
  color: var(--th-color);
  background-color: var(--th-background);
  background-clip: padding-box;
  border-right: 1px solid black;
  border-bottom: 1px solid lightgray;
  z-index: 2;
}
