/**
 * CSS for RACE slides
 */

body {
    margin: 0;
    font-size: 2.8vw;
    font-family: Arial, sans-serif;
}

div.slide {
    display: block;
    height: 97vh;
    padding: 10px;
    /* border: 1px solid black; */
}

.title h1 {
    margin-top: 30vh;
    margin-bottom: 1em;
    font-size: 150%;
}

.title {
    text-align: center;
}

.slide h2,h3 {
    text-align: center;
    font-size: 120%;
    padding: 4px 10px 4px 10px;
    margin: 0;
    border-bottom: 2px solid LightGray;
}

p.author {
    display: block;
    font-size: 90%
    margin-top: 5em;
    text-align: center;
}

p.standout {
    display: block;
    border: 2px solid orange;
    padding: 0.5em;
    margin: 0.5em;
    background: LightYellow;
}

.slide ul {
    list-style-type: disc;
}

.slide ul ul {
    list-style-type: circle;
    margin-top: -0.7em;
}

.slide li {
    margin-bottom: 0.3em;
}

.toc ul {
    list-style-type: none;
    font-size: 60%;
}

.toc a {
    text-decoration: none;
}

img.logo {
    width: 5.0vw;
    height: 5.0vw;
    float: left;
}

pre {
    font-size: 80%;
    color: DarkBlue;
    background:#f4f4f4;
}

code {
    color: DarkBlue;
}

/*---------------------------- content image classes -----------------------------*/
img.left {
    float: left;
    margin: 15px 15px 15px 15px;
}

img.center {
    display: block;
    margin: 15px auto 15px auto;
}

img.right {
    float: right;
    margin: 15px 15px 15px 15px;
}

img.scale30 {
    width: 30%;
}
img.scale40 {
    width: 40%;
}
img.scale50 {
    width: 50%;
}
img.scale55 {
    width: 55%;
}
img.scale60 {
    width: 60%;
}
img.scale65 {
    width: 65%;
}
img.scale70 {
    width: 70%;
}
img.scale75 {
    width: 75%;
}
img.scale80 {
    width: 80%;
}
img.scale85 {
    width: 85%;
}
img.scale90 {
    width: 90%;
}
img.scale95 {
    width: 95%;
}
img.scale100 {
    width: 100%;
}