<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- full pattern
            <Pattern>%date %-5level [%thread] %logger - %message%n</Pattern>
            -->
            <Pattern>%-5level %logger{0}: %msg%n</Pattern>
        </layout>
    </appender>

    <!-- uncomment this to store the outout in a tmp/*.log file
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>tmp/rolling.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>tmp/rolling.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>3</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>8KB</MaxFileSize>
        </triggeringPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%relative %-5level %logger - %message%n</Pattern>
        </layout>
    </appender>
    -->

    <root>
        <level value ="debug"/>
        <appender-ref ref="CONSOLE" />
        <!--
        <appender-ref ref="ROLLING" />
        -->
    </root>
</configuration>
