/* style sheet for online HTML RACE site */

body {
    font-family: Arial, sans-serif;
    font-size: 90%;
    padding: 0.5em;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding: 0.4em 0 0.4em 0;
    margin: 0.2em 0 0 0;
    background-color: #f0f0f0;
}

h2 {
    font-size: 130%;
    font-weight: bold;
    border-bottom: 1px solid LightGray;
    margin: 1.0em 0 0 0;
    clear: both;
}

h3 {
    font-size: 120%;
    margin: 0.8em 0 0.4em 0;
    clear: both;
}

p {
    margin: 0.6em 0 0.6em 0;
}

ul {
    margin: 0.6em 0 0.6em 0;
}

dt {
    margin-top: 0.6em;
}

.anchor-link {
    display: none;
}

.navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    float: left;
    color: #000070;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 76%;
    overflow: auto;
    padding: 0.5em 0.5em 0 1.0em;
    float: left;
    border-left: 1px solid LightGray;
}

/* ------------------------------------------------------ banner ------*/
.banner {
    padding: 0;
    line-height: 80px;
    margin: 0;
}

img.logo {
    width: 64px;
    height: 64px;
    vertical-align: bottom;
    float:left;
}

p.doctitle {
    font-size: 150%;
    font-weight: bold;
    text-align: right;
    margin: 0;
    padding-top: 15px;
    padding-right: 10px;
}


/*----------------------------------------------------------- navbar -----*/

.toc {
   width: 100%;
   padding: 0;
   margin: 0;
}

.toc p.title {
   font-size: 120%;
   background-color: #f0f0f0;
   border: none;
   text-align: right;
   margin: 5px 0 3px 0;
   padding: 2px 5px 2px 0;
}

nav-list. a {
   display: block;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.toc a:hover {
   background-color: #ececff;
}

.toc ul {
   padding: 0 0 0.4em 1.0em;
   margin: 0;
   white-space: nowrap;
}

.toc li {
   list-style: none;
   padding-bottom: 0.2em;
}

.toc.pagetoc .level1 {
   padding-top: 0.7em;
   font-size: 100%;
   margin: 0 0 0 0;
}

.toc.pagetoc .level2 {
   font-size: 90%;
   margin: 0 0 0 0.6em;
}

.toc.globaltoc .nav-header {
   padding-top: 0.7em;
   margin: 0 0 0.3em 0;
   border-bottom: 1px solid LightGray;
}

.toc.globaltoc .nav-list .level2 {
   font-size: 100%;
   margin: 0 0 0 0.6em;
}

.toc.globaltoc .nav-list .level3 {
   font-size: 90%;
   margin: 0 0 0 1.4em;
}

/*------------------------------------------------------------- main ------*/

pre {
    padding: 1em 1em 1em 2em;
    color: DarkBlue;
    background:#f4f4f4;
}

code {
    color: DarkBlue;
    background:#f4f4f4;
}

div.caution {
    background: #f0fafa;
    border: 1px solid #ff0000;
    border-radius: 15px;
    padding: 10px;
}

/*------------------------------------------------------------- images ------*/

img.left {
    float: left;
    margin: 0px 15px 15px 0px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.right {
    float: right;
    margin: 0px 0px 15px 15px;
}

img.scale30 {
    width: 30%;
}
img.scale40 {
    width: 40%;
}
img.scale50 {
    width: 50%;
}
img.scale60 {
    width: 60%;
}
img.scale70 {
    width: 70%;
}
img.scale80 {
    width: 80%;
}
img.scale90 {
    width: 90%;
}
img.scale100 {
    width: 100%;
}