/**
  CSS trickery for scrollable tables with sticky column/row th's and highlighting of rows/columns
  when hovering with the mouse over corresponding th nodes

  Note that relative cell length units have to be 'rem' since we use different fonts for
  th, th.dtg and td

  Note this does require some Javascript to set/remove respective class attributes of highlighted cells.
  *:hover::before/after does not help if the div height is not constant and known since it would change
  scrollbar thumb lengths
**/

body {
--max-lines: 15;
--cell-height: 1.4rem;
--cell-padding: 0.2rem;
--cell-width: 7rem;
--scrollbar-width: 0.5rem;

--div-width: 100vw;
--div-height: calc(var(--max-lines) * (var(--cell-height) + var(--cell-padding)));

--th-background: #eaeaea;
--th-color: black;
--hover-color: rgba(0,200,0, 0.2);

--active-color: rgb(0,140,0);
--active-background-color: rgb(204,255,204);

  font-family: sans-serif; /* arial; */
}

div#tableContainer {
  box-sizing: border-box;
  /* max-height: fit-content; */ /* how do set this from content height ? */
  width: 100%;

  height: var(--div-height);
  padding-right: 0.9rem;  /* to account for scroll bar width - scrollbar is only inside div for firefox and safari */
  position: relative;
  overflow: auto;
  border: 1px solid #404040;
  display: inline-block; /* this does not properly limit max-width to browser viewport when browser is resized */
  resize: vertical;
}

div.chrome { /* chrome has scrollbar outside div */
  padding-right: 0;
}

::-webkit-scrollbar-track {
  width: calc(var(--scrollbar-width) + 2px);
  height: calc(var(--scrollbar-width) + 2px);
  background-color: rgba(255,255,255,0.2);  /* does not work */
}
::-webkit-scrollbar-thumb {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  border-radius: 3px;
  background-color: rgba(0,0,0,0.2);
}

/* general classes */

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.selected {
  background-color: var(--hover-color);
  cursor: cell;
}

/* overlay/layer classes */

/* usually for iframes, has to be made visible through 'element.style.display='block';' */
.mask-overlay {
  display: none;
  border:none;
  width:100%;
  height:100%;
  z-index:10;
  position:fixed;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.4);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* table elements */

table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0px;
  padding: 0;
}

td, th {
  padding: var(--cell-padding);
  min-width:  var(--cell-width);
  max-width:  var(--cell-width);
  height:  var(--cell-height);
  text-align: right;
  color: #000;
  background-clip: padding-box;
}

td {
  font-family: monospace;
  font-weight:normal;
  position: relative;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

thead th.local, td.local {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: rgb(180,250,250);
}

thead th.local.selected, td.local.selected {
  background-color: rgba(0,240,140, 0.4);
}

tbody td.local {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: rgba(180,250,250,0.5);
}

tbody th.local.selected, td.local.selected {
  background-color: rgba(0,240,140, 0.4);
}

tbody td.constraintLevel_1 {
  color: rgb(219, 88, 0);
  font-weight: normal;
}
tbody td.constraintLevel_2 {
  color: rgb(214, 0, 0);
  font-weight: bold;
}
tbody td.constraintLevel_3 {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

thead th {
  background-color: var(--th-background);
  background-clip: padding-box;
  border-right: 1px solid lightgray;
  z-index: 3;
}


thead th.info {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;  /* relative to scrolled container (div) */
  font-size: small;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid black;
}

thead th.name {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: calc(var(--cell-height) + 2 * var(--cell-padding) + 1px);  /* -- with info row */
  /* top: 0;  -- without info row */
  border-bottom: 0px none;
  cursor: cell;
}

thead th.dtg {
  height: 0.9rem;
  /* color: blue; */
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: calc(2* var(--cell-height) + 4* var(--cell-padding)); /* -- with info row */
  /* top: calc(var(--cell-height) + 2 * var(--cell-padding)); -- without info row */
  cursor: cell;
  font-family: monospace;
  font-size: small;
  font-weight: normal;
  border-bottom: 1px solid black;
}

thead th.online {
  color: var(--active-color);
}

/* this needs to be defined *after* the other th classes to override */
thead th.label {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  text-align: right;
  font-family: sans-serif;
  color: grey;
  font-size: small;
  font-weight: normal;
  cursor: default;
  z-index: 4;
}

td.alert {
  color: red;
  font-weight: bold;
}

td.editable {
  color: blue;
  padding: 0.2rem;
}

thead th:first-child {
  left: 0;
  z-index: 4;
  min-width: 0;
  width: auto;
  border-right: 1px solid black;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  min-width: 0;
  width: auto;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;
  font-size: 90%;
  color: var(--th-color);
  background-color: var(--th-background);
  background-clip: padding-box;
  border-right: 1px solid black;
  border-bottom: 1px solid lightgray;
  z-index: 2;
}

tr.header {
  background-color: var(--th-background);
}

tr.computed td {
  color: blue;
}

/* nodelists */

div.nodelist {
  position: relative;
  margin: 3px 0px 3px 0px;
  border: 1px solid lightgray;
  padding: 12px 2px 2px 2px;
  background-color: #f2f2f2;
}

span.nodelist-label {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  color: gray;
  text-align: left;
}

span.nodename {
  display: inline-block;
  min-width: 5rem;
  margin: 2px 2px 2px 2px;
  padding: 5px 2px 2px 2px;
  font-size: 90%;
  color: blue;
  font-style: italic;
}

span.connected {
  /* background-color: #ccffcc; */
  color: var(--active-color);
}

/* in-box text input labels */

div.input-group {
  position: relative;
  display: inline-block;
}

label.input-label {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 12px;
  color: gray;
  text-align: left;
}

input.input-text {
  padding: 10px 2px 2px 5px;
  width: 7rem;
  height: 1.5rem;
  border: 1px solid lightgray;
  font-size: 90%;
}

input.readonly {
  background-color: #f2f2f2;
  color: blue;
  font-style: italic;
}



/* title bar */

div.titlebar {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  background-clip: border-box;
  background-color: #eaeaea;
  border: 1px solid #404040;
/*
  position: relative;
  display: inline-block;
  */
}

/* other controls */

div#logContainer {
  box-sizing: border-box;
  padding: 3px 0.9rem 3px 3px;  /* to account for scroll bar width - scrollbar is only inside div for firefox and safari */
  /* width: 40rem; */
  min-height: 4rem;
  max-height: 10rem;
  margin: 1rem 0 0 0;
  position: relative;
  overflow: auto;
  border: 1px solid #404040;
  resize: vertical;
  /* display: inline-block;  */
}

span.log-time {
  font-family: monospace;
  color: blue;
  padding-right: 0.5rem;
}

span.log-msg {
  font-size: small;
}

div.toolbar {
  /* width: 100%; */
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  box-sizing: border-box;
  background-clip: border-box;
  background-color: #eaeaea;
  border: 1px solid #404040;

  position: relative;
  display: inline-block;
}

div.infoblock {
  padding: 3px;
  min-height: 1rem;
  min-width: 1rem;
  color: green;
  font-size: small;
}

label {
  display: inline-block;
  width: 4rem;
  text-align: right;
}

.button {
  height: 1.6rem;
  font-size: 90%;
  vertical-align: middle;
  border-width: 2px;
  /* box-shadow: 3px 3px #404040; */
  /* transform: translate(2px,2px); */
}

.button:hover {
  background-color: rgba(0,0,255,0.1);
}

.button:active {
  background-color: rgba(0,0,255,0.3);
}

/* online status */

input#status {
  background-color: lightgray;
  color: black;
}
input#status.alert {
  background-color: #ffcccc;
}
input#status.ok {
  background-color: #ccffcc;
}

/* edit session status */

input#uid.active {
  background-color: #ccffcc;
}

/* cell editing text inputs */

.cell {
  background-color: rgb(255,255,225);
  border: 1px solid lightgray;
}

.cell.focused {
  background-color: rgb(255,255,180);
  border: 1px solid red;
}

.cell.modified {
  color: red;
}

.cell.modified.conflict {
  background-color: rgb(255,180,180);
}

.cell.reported {
  color: green;
}

input[type=text].cell {
  text-align: right;
  width:  calc(var(--cell-width) - 0.4rem);
  font-family: monospace;
  font-size: small;
}

input.id {
  min-width: 10rem;
  max-width: 20rem;
}

